html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #e78182e8, #f1da8ae0);
}

.overlay {
  background-image: linear-gradient(to bottom, #e78182e8, #f1da8ae0),
    url("./image/banner-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100rem;
}

.heading {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__top {
  font-style: italic;
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #000;
}

.title {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4.3rem;
}

.line {
  height: 3px;
  width: 6rem;
  margin-bottom: 5rem;
  background-color: #f38181;
}

.desc {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ccc;
  padding: 0 12rem;
  line-height: 1.5;
  margin-bottom: 9rem;
}
.slider-global__item {
  display: flex !important;
}

.slider-global {
  display: flex;
  align-items: center;
  margin-top: 9rem;
}

.slider-global__img {
  margin-right: 5.5rem;
}

.services-slider__image {
  width: 63px;
  height: 63px;
  padding: 4rem;
  border: 3px solid #95e1d3;
}

.work-slider__image {
  width: auto;
}

.slider-global__content--author {
  display: flex;
  align-items: center;
}

.slider-global__content--author div,
.slider-global__content--author span {
  margin: 0;
}

.slider-global__content--author div {
  margin-right: 1rem;
}

.slider-global__content--des {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #999;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.slick-prev {
  margin-right: 7rem;
}

.slick-next {
  margin-left: 7rem;
}

.slick-arrow {
  /* Căn giữa theo chiều dọc abscentery */
  border: none;
  display: flex;
  font-size: 3rem;
  z-index: 1;
  color: #ccc;
  background: transparent;
  /* tsall tra */
  transition: all 0.2s linear;
}

.slick-arrow:hover {
  color: #2cccff;
}

/* -------- Start Header -------- */

.header {
  padding: 4rem 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 99;
  transition: all 0.2s linear;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: auto;
}

.header-burger {
  display: none;
  cursor: pointer;
  width: 2rem;
}

.header-burger__line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 6px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.header-mobile {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0px;
  min-width: 28rem;
  height: 100vh;
  padding: 1rem;
  display: none;
}

.header-mobile__toggle {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.hmenu-item {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.hmenu-item:last-child {
  border: 0;
}

.hmenu-item__link {
  color: #fff;
  display: block;
  padding: 2rem 0;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list__item {
  margin-right: 3.5rem;
}
.header-list__item:last-child {
  margin-right: 0;
}

.header-list__item--link {
  color: #fff;
  font-size: 1.4rem;
  padding-bottom: 3px;
  transition: all 0.25s linear;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.header-list__item--link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #fce38a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-list__item--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-list__item--link:hover {
  color: #fce38a;
}

.header-list__item--cart,
.header-list__item--search {
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.25s linear;
}

.header-list__item--cart:hover,
.header-list__item--search:hover {
  color: #fce38a;
}

.active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

/* -------- End Header -------- */

/* -------- Start Banner -------- */
.banner {
  padding-top: 10.3rem;
  height: calc(100% - 10.3rem);
}
.banner-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-content {
}

.banner-content__item {
  display: none;
}

.banner-content .banner-content__title--top {
  font-size: 7.2rem;
  color: #fff;
  margin-bottom: 6.5rem;
  text-align: center;
}
.banner-content__title {
  font-size: 15rem;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner-content__line {
  background-color: #fff;
  margin: 0 auto 5rem;
}

.banner-content__button {
  text-align: center;
}

.banner-content__button a {
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.2rem 3rem;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.25s linear;
  border-radius: 4px;
  color: #fff;
  position: relative;
  background-color: transparent;
  isolation: isolate;
}

.banner-content__button a:before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f38181;
  z-index: -1;
  transition: width 0.25s ease-in;
}

.banner-content__button a:hover:before {
  width: 100%;
}

.banner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.banner-bottom__item {
  cursor: pointer;
}

.banner-bottom__item:hover .banner-bottom__item--content span {
  color: #f38181;
}

.banner-bottom__item--line {
  height: 3px;
  width: 28rem;
  background-color: #fff;
  margin-bottom: 2.6rem;
}

.banner-bottom__item--line__process {
  width: 25%;
  height: 100%;
}

.banner-slider__active {
  background-color: #f38181;
}

.banner-bottom__item--number {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}

.banner-bottom__item-text {
  font-size: 1.8rem;
  color: #fff;
  transition: 0.3s;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* -------- End Banner -------- */

/* -------- Start About -------- */

.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10rem;
}

.about-list__item {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: 30%;
  background-color: red;
}

.about-list__item:hover .abcd {
  top: -10px;
  left: -10px;
  right: 10px;
  bottom: 10px;
}

.abcd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #666;
}

.about-list__item--img {
  width: auto;
  height: 25rem;
  object-fit: cover;
}

.abc {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(to bottom, #e78182e8, #f1da8ae0);
}

.about-list__item:hover .abc {
  opacity: 1;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-list__item:hover .about-list__item--content {
  opacity: 1;
  visibility: visible;
}
.about-list__item--content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.about-list__item--content span {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.about-list__item--content img {
  width: auto;
  margin-bottom: 1.2rem;
}

/* -------- End About -------- */

/* -------- Start Counter -------- */

.counter {
  background-color: #95e1d3;
}

.counter-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 19%;
  height: 100%;
  padding: 9rem 0;
  border-right: 1px solid #fff;
}

.counter-item:first-child {
  border-left: 1px solid #fff;
}

.counter-item__number {
  font-size: 7.2rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 3rem;
}

.counter-item__text {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

/* -------- End Counter -------- */

/* -------- Start Amazing -------- */

.amazing-content {
  display: flex;
  flex-wrap: wrap;
}

.amazing-content__item {
  display: flex;
  width: 32%;
  padding-right: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #e5e5e5;
}

.amazing-content__item:last-child,
.amazing-content__item:nth-last-child(2),
.amazing-content__item:nth-last-child(3) {
  border: 0;
}

.amazing-content__item:nth-child(3n) {
  padding-right: 0;
}

.amazing-content__image {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 2.8rem;
}

.image-content__item--right {
}

.image-content__item--right__title {
  color: #666;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.image-content__item--right__des {
  font-size: 1.5rem;
  color: #ccc;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5.5rem;
}

/* -------- End Amazing -------- */

/* -------- Start Devices -------- */
.devices {
  background-image: url(./image/background-devices.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85rem;
  position: relative;
}

.devices-content {
}

.devices-inner {
  height: 100%;
}

.devices-content {
  height: calc(100% - 26.4rem);
  display: flex;
  justify-content: center;
}

.devices-content__ipad {
  width: auto;
  position: absolute;
  bottom: 0;
}

.devices-content__mobile {
  width: auto;
  position: absolute;
  bottom: 0;
  transform: translate(26rem, 9rem);
}

/* -------- End Devices -------- */

/* -------- Start Services -------- */
.services {
  margin-top: 2rem;
}

.services-content {
  display: flex;
  justify-content: space-between;
}

.services-content__image {
  width: auto;
  height: 38rem;
  border-radius: 4px;
}

.services-content__collapse {
  width: 50%;
}

.collapse-toggle {
  font-size: 1.4rem;
  color: #000;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin-bottom: 1.2rem;
}

.collapse-content {
  overflow: hidden;
  display: none;
  max-height: 14rem;
  overflow: auto;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999797;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95e1d3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #95e1d3;
}

.collapse-toggle div {
  display: flex;
  align-items: center;
}

.collapse-toggle img {
  width: auto;
  margin-right: 2.5rem;
}

.collapse-toggle i {
  font-size: 1.5rem;
  color: #ccc;
}

.services-content__collapse--item a.chev .fa-chevron-down {
  transform: rotate(180deg);
}

/* -------- End Services -------- */

/* -------- Start Teams -------- */

.teams-list {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.teams-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teams-list__item-name {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
}

.teams-list__item-job {
  font-size: 1.5rem;
  font-style: italic;
  color: #999;
  font-family: "Roboto", sans-serif;
}

.teams-slider {
  margin-top: 9rem;
}

/* -------- End Teams -------- */

/* -------- Start work -------- */

.work-content {
  display: flex;
  justify-content: center;
}

.work-content__block1,
.work-content__block2,
.work-content__block4 {
  display: flex;
}

.work-content__block4 {
  flex-direction: column;
}

.work-content__img {
  object-fit: cover;
}

.work-image__overlay {
  position: relative;
}

.work-image__overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.work-image__overlay:hover::after {
  background-image: linear-gradient(to bottom, #e78182e8, #f1da8ae0);
}

.work-image__overlay--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.work-image__overlay--content__img {
  width: auto;
  margin: 0 auto;
}

.work-image__overlay--content__title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.work-image__overlay--content__des {
  font-size: 1.5rem;
  font-style: italic;
  color: #999;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}

.work-image__overlay:hover .work-image__overlay--content {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

/* -------- End work -------- */

/* -------- Start People -------- */
.people {
  height: 83rem;
  margin-top: 9rem;
  background-image: url("./image/people-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.people-list {
  display: flex;
  flex-wrap: wrap;
}

.people-list__item {
  display: flex;
  width: 44%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 6%;
}

.people-list__item--img {
  width: 11rem;
  height: 11rem;
  margin-right: 3rem;
}

.people-list__item--content {
}

.people-list__item--content__name {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

.people-list__item--content__pos {
  font-style: italic;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #4c4c4c;
  display: inline-block;
  margin-bottom: 2rem;
}

.people-list__item--content-des {
  color: #646464;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.people-list__item--content .line {
  margin-bottom: 2rem;
}

/* -------- End People -------- */

/* -------- Start Blog -------- */

.blog-list {
  display: flex;
  justify-content: space-between;
}

.blog-list__item {
  margin-right: 2rem;
  cursor: pointer;
}

.blog-list__item--img-wrapper {
  position: relative;
}

.blog-list__item--time {
  position: absolute;
  z-index: 2;
  padding: 1.5rem;
  background-color: #95e1d3;
  color: #fff;
  left: -10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.blog-list__item--time__date {
  font-size: 3rem;
  font-weight: bold;
}

.blog-list__item--time__month {
  font-size: 1.5rem;
  font-style: italic;
}

.blog-list__item:hover {
  color: #ccc;
}

.blog-list__item:hover .blog-list__item--content__des {
  color: #ccc;
}

.blog-list__item:last-child {
  margin-right: 0;
}

.blog-list__item--content__bottom {
  display: flex;
  margin-top: 2rem;
}

.blog__bottom-view {
  margin-right: 2rem;
}

.blog__bottom-mess,
.blog__bottom-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list__item--img {
}

.blog__bottom-view--icon,
.blog__bottom-mess--icon {
  width: auto;
  margin-right: 0.5rem;
}

.blog-list__item--content {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
}

.blog-list__item--content__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 2rem 0;
  transition: all 0.2s linear;
}

.blog-list__item--content__des {
  color: #afafaf;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  transition: all 0.2s linear;
}

/* -------- End Blog -------- */

/* -------- Start map -------- */
.map {
  margin-top: 12rem;
  height: 20rem;
  background-image: url("./image/map-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: zoom-in;
}

.map-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.map-pin {
  width: auto;
}

.map-text {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #f38181;
  font-weight: bold;
  margin: 2rem 0;
}

.map-inner .line {
  color: #f38181;
  margin: 0;
}

/* -------- End map -------- */

/* -------- Start Footer -------- */

.footer {
  padding-top: 7.5rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content__info {
  max-width: 47rem;
}

.footer-content__info--followers {
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #e5e5e5;
}

.footer-content__info--company {
  font-size: 4.6rem;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 4rem;
  display: inline-block;
}

.footer-content__info--des {
  color: #afafaf;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 5rem;
}

.footer-content__info--followers {
  font-size: 1.4rem;
}

.footer-content__info--followers span {
  font-size: 1.8rem;
  font-weight: bold;
}

.footer-content__info--follower__our {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}

.footer-content__info--follower__our span {
  font-size: 1.5rem;
  font-style: italic;
  color: #afafaf;
  margin-right: 2rem;
}

.follower__our-icon {
  width: auto;
  margin-right: 1.8rem;
  cursor: pointer;
}

.follower__our-icon:last-child {
  margin-right: 0;
}

.footer-content__info-subscribe {
  display: flex;
  align-items: center;
}

.footer-subscribe__input {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  outline: 0;
}

.footer-subscribe__btn {
  padding: 1.4rem 2rem;
  background-color: #95e1d3;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-subscribe__input {
  border-right: none;
}

.footer-content__blog {
  max-width: 34rem;
}

.footer-blog__list--item {
  display: flex;
}

.footer-blog__list--item__img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-right: 2rem;
}

.footer-instar--list__item {
  width: auto;
}

.footer-text {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.footer-content__instar--list {
  display: flex;
  flex-wrap: wrap;
  width: 27rem;
  height: 27rem;
}

.footer-instar--list__item {
  width: 32%;
  border: 1px solid #fff;
}

.footer-content__blog--title,
.footer-content__instar--title {
  margin-bottom: 4rem;
  margin-top: 0;
}

.footer-blog__list--item {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-blog__list--item__content--title {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.footer-blog__list--item__content--time {
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: #ccc;
}

.footer-instar__textmore {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.footer-copyright {
  margin-top: 7rem;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1.4rem;
}

.footer-copyright span {
  cursor: pointer;
}

.footer-copyright span {
  color: #f4a4a4;
}

/* -------- End Footer -------- */

/* Responsive */

@media (max-width: 1366px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 1200px) {
  .banner-bottom__item--line {
    width: 20rem;
    margin-bottom: 2rem;
  }

  .counter-item {
    padding: 5rem 0;
  }

  .services-content__collapse {
    width: 35%;
  }

  .services-content {
    justify-content: space-around;
  }

  .footer-content__info {
    max-width: 70% !important;
    margin-bottom: 2rem;
  }

  .footer-content__blog,
  .footer-content__instar {
    max-width: 43%;
  }

  .footer-content__blog {
    margin-right: 3rem;
  }

  .footer-content {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .image-content__item--right__des {
    padding-bottom: 2.5rem;
  }

  .amazing-content__item {
    width: 46%;
    padding-right: 8%;
  }

  .amazing-content__item:nth-child(3n) {
    padding-right: 8%;
    border-bottom: 1px solid #e5e5e5;
  }

  .amazing-content__item:nth-child(2n) {
    padding-right: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .amazing-content__item:last-child {
    border: 0;
  }

  .services-content {
    flex-direction: column;
  }

  .services-content__image {
    width: 57rem;
  }

  .services-content {
    align-items: center;
  }

  .services-content__image {
    margin-bottom: 5rem;
  }

  .services-content__collapse {
    width: 80%;
  }

  .services-slider__image {
    width: 40px;
    height: 40px;
    padding: 3rem;
  }

  .slider-global__content--des {
    font-size: 1.5rem;
  }

  .footer-content__info {
    max-width: 74% !important;
  }
}

@media (max-width: 991px) {
  .counter-item,
  .counter-item:first-child {
    border: 0;
  }

  .banner-content .banner-content__title--top {
    font-size: 6.2rem;
    margin-bottom: 4.5rem;
  }

  .banner-content__title {
    font-size: 10rem;
  }

  .counter-item__number {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .counter-item {
    width: 26%;
  }

  .slider-global__content--des {
    font-size: 1.5rem;
  }

  .work-slider__image {
    width: 15rem;
    height: 15rem;
  }

  .work-content {
    flex-wrap: wrap;
  }

  .work-content__block1_1 {
    width: 100%;
  }
  .work-content__block3,
  .work-content__block4 {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .heading {
    padding-top: 5rem;
  }

  .title {
    margin-bottom: 3.3rem;
  }

  .line {
    margin-bottom: 3rem;
  }

  .desc {
    padding: 0;
    width: 90%;
    margin-bottom: 4rem;
  }

  .overlay {
    height: 65rem;
  }
  .header-list {
    display: none;
  }
  .header-burger {
    display: block;
  }

  .banner-bottom__item--line {
    width: 15rem;
  }

  .devices {
    height: 65rem;
  }

  .devices-content__ipad {
    width: 40rem;
    height: auto;
  }

  .devices-content__mobile {
    width: 18rem;
    transform: translate(15rem, 9rem);
    height: auto;
  }

  .slider-global__img {
    margin-right: 2.5rem;
  }

  .slick-prev {
    margin-right: 3rem;
  }

  .slick-next {
    margin-left: 3rem;
  }

  .teams-list__item-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .teams-list__item-job {
    font-size: 1.2rem;
  }

  .teams-slider {
    margin-top: 4rem;
  }

  .people-list__item {
    width: 94%;
  }

  .people {
    height: 96rem;
  }
}

@media (max-width: 660px) {
  .banner-content .banner-content__title--top {
    font-size: 4rem;
  }
  .banner-content__title {
    font-size: 8rem;
  }
  .counter-item__number {
    font-size: 4rem;
  }

  .counter-item__text {
    font-size: 1.2rem;
  }

  .services-content__image {
    width: 90%;
    height: auto;
  }
  .work-slider__image {
    width: 10rem;
    height: 10rem;
  }

  .people-list__item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .banner-content__title {
    font-size: 6rem;
  }

  .counter-item {
    padding-bottom: 0;
    width: 100%;
  }

  .counter-item:last-child {
    padding-bottom: 5rem;
  }

  .people {
    height: 110rem;
  }
}

@media (max-width: 560px) {
  .amazing-content__item {
    width: 100%;
    border-bottom: 1px solid #e5e5e5 !important;
  }

  .amazing-content__item:last-child {
    border-bottom: 0 !important;
  }

  .devices {
    height: 56rem;
  }

  .devices-content__ipad {
    width: 35rem;
  }

  .devices-content__mobile {
    width: 15rem;
    transform: translate(14rem, 9rem);
  }

  .banner-bottom__item--line {
    width: 11rem;
  }

  .banner-bottom__item--number {
    font-size: 2rem;
  }
  .banner-bottom__item-text {
    font-size: 1.5rem;
  }

  .services-slider__image {
    width: 40px;
    height: 40px;
    padding: 2rem;
  }

  .slider-global__content--des {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .slider-global__content--author .title__top {
    font-size: 1.8rem;
  }

  .teams-list {
    flex-direction: column;
  }

  .teams-list__item {
    margin-bottom: 2rem;
  }

  .work-image__overlay--content__title {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .work-image__overlay--content__des {
    font-size: 1.2rem;
  }

  .footer-content {
    justify-content: flex-start;
  }

  .footer-content__info {
    max-width: 100% !important;
  }

  .footer-content__blog {
    margin-right: 0;
  }

  .footer-content__blog,
  .footer-content__instar {
    max-width: 100%;
  }
}

@media (max-width: 390px) {
  .title {
    font-size: 2.5rem;
  }
  .banner-content .banner-content__title--top {
    font-size: 3rem;
  }

  .banner-content__title {
    font-size: 4rem;
  }

  .devices {
    height: 46rem;
  }

  .devices-content__ipad {
    width: 27rem;
  }

  .devices-content__mobile {
    width: 11rem;
    transform: translate(10rem, 3rem);
  }

  .teams-slider {
    margin-top: 1rem;
  }
  .slider-global__img {
    margin-right: 1.5rem;
  }

  .banner-bottom__item--line {
    width: 6rem;
  }

  .banner-bottom__item-text,
  .banner-bottom__item--number {
    font-size: 1.2rem;
  }

  .people {
    height: 142rem;
  }

  .footer-content__info--follower__our {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .footer-content__info--follower__our span {
    margin-bottom: 1.8rem;
  }

  .follower__our-icon {
    margin-bottom: 1.8rem;
  }

  .footer-copyright {
    margin-top: 3rem;
    line-height: 2;
  }
}
